@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1649074148703') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yonghu:before {
  content: "\e788";
}

.icon-dizhi:before {
  content: "\e63e";
}

.icon-loading-xuanzedizhi-wodeshouhuodizhi:before {
  content: "\e63b";
}

.icon-mima:before {
  content: "\e8b2";
}

.icon-loufangfangzi:before {
  content: "\e729";
}

